[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.mainnet]
kryptos = "F7gyohBLEMJFkMtQDkhqtEZmpABNPE3t32aL8LTXYjy2"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/mainnet.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
